aula13/flows.json
[
    {
        "id": "1",
        "type": "inject",
        "name": "Iniciar Fluxo",
        "props": [
            {
                "p": "payload",
                "v": "Olá, Node-RED!",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "wires": [
            [
                "2"
            ]
        ]
    },
    {
        "id": "2",
        "type": "function",
        "name": "Adicionar Texto",
        "func": "msg.payload = msg.payload + ' - Fluxo Executado com Sucesso!';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "3"
            ]
        ]
    },
    {
        "id": "3",
        "type": "debug",
        "name": "Mostrar Resultado",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 550,
        "y": 100,
        "wires": []
    }
]

