aula18/flows.json
{
    "nodes": [
        {
            "id": "inject1",
            "type": "inject",
            "name": "Iniciar Consulta",
            "payload": "",
            "topic": "start",
            "x": 200,
            "y": 200,
            "wires": [["function1"]]
        },
        {
            "id": "function1",
            "type": "function",
            "name": "Conectar ao Banco de Dados",
            "func": "const sqlite3 = global.get('sqlite');\n\n// Conectando ao banco de dados SQLite\nconst db = new sqlite3.Database('dados.db');\n\n// Consulta para pegar todos os usuários\ndb.all('SELECT * FROM users', [], (err, rows) => {\n    if (err) {\n        msg.payload = { error: err.message };\n        return node.send(msg);\n    }\n    msg.payload = rows;\n    node.send(msg);\n});\n\n// Fechar a conexão com o banco de dados\ndb.close();",
            "x": 400,
            "y": 200,
            "wires": [["debug1"]]
        },
        {
            "id": "debug1",
            "type": "debug",
            "name": "Exibir Dados",
            "active": true,
            "to": "output",
            "x": 600,
            "y": 200,
            "wires": []
        }
    ],
    "info": {
        "name": "Aula 11 - Interação com Banco de Dados SQLite",
        "version": "1.0"
    }
}

